<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Inicio de mi pagina</h1>
            <h5>Buenas tardes {{nombreUsuario}}, como estas en tus {{edad}} años?</h5>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" (click)="saludar()">Saludar</button>
            <button class="btn btn-success" (click)="upEdad()">UP</button>
            <button class="btn btn-danger" (click)="DownEdad()">Down</button>
        </div>
        <div class="col-md-3">
            <ul>
                <li *ngFor="let item of ejemploFor">
                    {{item.id}} - {{item.name}} 
                </li>
            </ul>
            <select class="form-control">
                <option [value]="i.id"  *ngFor="let i of ejemploFor">{{i.name}}</option>
            </select>
           
        </div>

    </div>


    <div class="row">
        <div class="col-md-12">
            <h4>Breaking Bad Personajes:</h4>
        </div>
        <div class="col-md-3" *ngFor="let personaje of personajesBB">
            <div class="card" style="width: 18rem;">
                <img [src]="personaje.img" class="card-img-top" alt="personaje.name">
                <div class="card-body">
                    <h5 class="card-title">{{personaje.name}}</h5>
                    <p class="card-text">{{personaje.category}}.</p>
                    <a href="#" class="btn btn-primary">{{personaje.occupation}}</a>
                </div>
            </div>


           
        </div>
    </div>
</section>