<div class="container-fluid footer-site">
    <div class="row">
        <div class="col-md-4">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi sint fugit possimus ea! Necessitatibus iure natus repudiandae doloremque amet sapiente atque, quaerat vitae harum quae assumenda, libero dolores ad modi!
        </div>
    </div>
</div>